/*CSS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(img/banner2.png);
    padding: 15px 30px;
    margin-bottom: 10px;
    width: 100%;
}
.header_logo{
    max-width: 120px;
    height: auto;
}
body{
    background: #FAD59A;
    text-align: center;
}

nav{
    display: flex;
    background-color: #FCEFCB;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 100px;
}

nav ul {
  display: flex; 
  list-style: none; /* Centra los elementos horizontalmente */
  justify-content: center; /* Elimina el margen y el padding por defecto de la lista */
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 0 10px;
  padding: 10px 10px;
  font-size: 15px;
}
a{
    text-decoration: none;    
    padding: 10px;
}

footer{
    background-color: #FCEFCB;
    margin-top: 10px;
}
footer ul{
    display: flex; 
    list-style: none; /* Centra los elementos horizontalmente */
    justify-content: center; /* Elimina el margen y el padding por defecto de la lista */
    padding: 0;
    margin: 0;
}
footer ul li {
  margin: 0 10px;
  padding: 10px;
  font-size: 20px;
}

.imagen{
    border-radius: 25px;
    margin-bottom: 10px;
}

/*CSS INICIO*/
.subtitulo{
    margin-bottom: 10px;
    text-align: center;
    background-color: #FCEFCB;
    font-family: "Chelsea Market", system-ui;
    font-size: 25px;
}
.main_slogan{
    margin-bottom: 10px;
    text-align: center;
    background-color: #FCEFCB;
    font-family: "Chelsea Market", system-ui;
    font-size: 25px;
}

/*CSS NUESTRO MENÚ*/
.main_subtitulo--menu{
    background-color: #FCEFCB;
    border-radius: 10px;
}
/*.subtitulo{
    border-radius: 10px;
}*/
/* .main_menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px; /* ancho definido para poder centrar con margin 0 auto (puede ser otro ancho)*/
    /* margin: 0 auto;
    font-family: "Chelsea Market", system-ui;
} */
.bg-menu-personalizado{
    background-color: #FCEFCB;
    font-size: 20px;
    border-radius: 50px;
    font-family: "Chelsea Market", system-ui;
}
.main_article--producto {
  /* Aquí puedes darle estilo a cada "caja" de producto, como un borde o fondo */
  border: 10px double #5b460f;
  border-radius: 10px;
  padding: 15px;
  text-align: center; /* Centra el texto y la imagen dentro de la caja */
}
.main_article--imagen{
  /* Asegura que la imagen no exceda el ancho de su contenedor */
  width: 350px;
  height: 250px;
}
.main_search{
    margin-bottom: 10px;
}

/*CSS GALERÍA*/
.main_figure--imgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px; /* ancho definido para poder centrar con margin 0 auto (puede ser otro ancho)*/
    margin: 0 auto;
}
.main_figure--imagen {
    width: 70%; /* Por defecto, ocuparán todo el espacio disponible */
    height: 450px; /* Puedes mantener una altura fija si quieres que todas sean iguales */
    border-radius: 25px; /* Tu estilo de borde redondeado */
    margin-bottom: 10px; /* Tu margen */
}

.fixed-size-img {
    width: 60%; /* Ocupa el 100% del ancho de su columna (col-md-4) */
    height: 350px; /* Define una altura fija para todas las imágenes */
    object-fit: cover; /* La imagen cubrirá el área, recortándose si es necesario, sin distorsionarse */
    border-radius: 20px; /* Opcional */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1); /* Opcional */
    border: 10px double #5b460f;
}


/*CSS NOSOTROS*/
.main_txt{
    background-color: #FCEFCB;
    margin-bottom: 10px;
    font-family: "Chelsea Market", system-ui;
}

/*CSS CONTACTO*/
.main_formulario{
    display: flex;
    justify-content: center;
}
/*.main_formulario ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main_form--casilla{
    background-color: #FCEFCB;
    padding: 10px;
    border-radius: 10px;
}*/

/* Media query para computadoras de escritorio */
@media (max-width: 1024px) {
    body {
        font-size: 20px;
    }
    header{
        padding: 10px 20px;
    }
    .header_logo{
        max-width: 100px;
    }
}

/* Media query para tabletas */
@media (max-width: 600px) {
    body {
        font-size: 18px;
        padding: 0px;
    }
    header{
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .header_logo{
    margin: 0 10px auto;
    max-width: 80px;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    nav ul li {
        margin: 5px 0;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
    }
    .main_menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .main_figure--imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        align-items: center;
    }
    .main_figure--imagen {
        max-width: 100%; 
        height: auto;
    }
    .subtitulo{
        font-size: 18px;
    }
    .main_slogan{
        font-size: 18px;
    }

}