/*CSS GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(img/banner2.png);
    padding: 15px 30px;
    margin-bottom: 10px;
    width: 100%;
}
.header_logo{
    max-width: 120px;
    height: auto;
}
body{
    background: #FAD59A;
    text-align: center;
}

nav{
    display: flex;
    background-color: #FCEFCB;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 30px;
}
nav ul li {
  margin: 0 10px;
  font-size: 15px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: brown;
    font-size: 25px;
}
footer{
    background-color: #FCEFCB;
    margin-top: 10px;
    font-family: "Roboto Condensed", sans-serif;
}
footer ul{
    display: flex; 
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}
footer ul li {
  margin: 0 10px;
  padding: 10px;
  font-size: 20px;
}
.footer__redes a{
    color: black;
}
.footer__redes:hover a{
    color: brown;
}

/*CSS INICIO*/
.main__subtitulo--inicio{
    margin-bottom: 10px;
    text-align: center;
    background-color: #FCEFCB;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    border-radius: 10px;
}
.main__slogan{
    margin-bottom: 10px;
    text-align: center;
    background-color: #FCEFCB;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    padding: 5px 10px;
}
.main__imagen{
    margin-bottom: 10px;
    width: 100%; 
    height: 350px;
}
.main__destacados{
    padding-top: 10px;
    text-align: center;
    background-color: #FCEFCB;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    border-radius: 10px;
}

/*CSS NUESTRO MENÚ*/
.main_section--titulo{
    display: inline-block;
    background-color: #FCEFCB;
    border-radius: 50px;
    padding: 5px 50px;
    font-family: "Roboto Condensed", sans-serif;
}
.bg-menu-personalizado{
    background-color: #FCEFCB;
    font-size: 20px;
    border-radius: 50px;
    font-family: "Roboto Condensed", sans-serif;
}

/*CSS GALERÍA*/
.fixed-size-img {
    width: 60%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1);
    border: 10px double #5b460f;
}
.main_subtitulo{
    padding: 0 10px;
}


/*CSS NOSOTROS*/
.main_txt{
    background-color: #FCEFCB;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 0 10px;
}
.main__sucursales {
    padding-left: 10px;
    text-align: left;
    background-color: #FCEFCB;
    font-family: "Roboto Condensed", sans-serif;
    padding-top: 10px;
}
.main__sucursales--direcciones{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
}
.main__sucursales--info{
    width: 55%;
}
.main__sucursales--maps{
    width: 40%;
}
.main__sucursales--maps img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    border: 5px solid #FAD59A;
}

/*CSS CONTACTO*/
.form-label{
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #FCEFCB;
    padding: 5px 10px;
    border-radius: 10px;
}

/* Media query para computadoras de escritorio */
@media (max-width: 1024px) {
    body {
        font-size: 20px;
    }
    header{
        padding: 10px 20px;
    }
    .header_logo{
        max-width: 100px;
    }
}

/* Media query para tabletas */
@media (max-width: 600px) {
    body {
        font-size: 18px;
        padding: 0px;
    }
    header{
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .header_logo{
    margin: 0 10px auto;
    max-width: 80px;
    }
    nav ul li {
        margin: 5px 0;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
    }
    .main__slogan{
        font-size: 20px;
    }
    .main__sucursales--direcciones{
        flex-direction: column;
        padding: 10px;
    }
    .main__sucursales--maps{
        width: 100%;
        text-align: center;
    }
    .main__destacados{
        font-size: 20px;
}